<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Recovered</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Poppins:100,200&display=swap" rel="stylesheet">
    <style>
        /* MASTER STYLES */
body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* NAV BAR STYLES */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.nav-wrapper > .left-side > div {
    font-size: 1.2em;
    text-transform: uppercase;
}

.bod-items{
    margin-bottom: 50px;
    text-align:center;
}
    </style>
</head>
<body>
    <div class="nav-wrapper">
            <div class="left-side">
                <div>{{country}}</div>
            </div>
    </div>
     <div class="bod-items">
        <h1>The country is {{country}}</h1>
        <form method="POST" action="{{url_for('getdaterecov')}}">
            <input type="date" name="date" min="2020-01-22" value="2020-12-31">
            <input type="submit">
        </form>
        <h1>The total number of cases in {{country}} on {{date}} are predicted to be {{days}}</h1>
        <img src="{{ url_for('static', filename = graph) }}" alt="Chart" height="400" width="450">
    </div>
</body>
</html>